.infoSlider1{
	background: none repeat scroll 0 0 #000000;
	color: #FFFFFF;
	font-size: 0.9em;
	position: absolute;
	z-index: 1000;
	margin-left:151px;
	width: 772px !important; height: 152px !important; margin-top: -152px !important; margin-left: 151px !important;
	filter:alpha(opacity:50);
}
