


            @media (max-width: 1200px) {

                .shrink {
                    font-size: 11px;
                }
            }


            .modal-open {
                padding-right: 0 !important;
            }

            .nav > li > a:hover, .nav > li > a:focus {
                background-color: #C3FDB8;
            }

            
            #imgScale {
                height: 130px;
                width: 130px;
                margin-left: auto;
                margin-right: auto;
            }

            #vdScale {
                height: 150px;
                width: 150px;
                margin-left: auto;
                margin-right: auto;
            }


            .btn-info {
                width: 100px;
                height: 30px;
            }

            .btn {
                line-height: 0.428571;
            }
            img {
                cursor: pointer;
            }

            .noResult {
                text-align: center;
                margin-top: 18px;
                color: slategrey;
            }

            
            .search-btn {
                background: #3d7876;
                border: 1px #397c72 solid;
                text-align: center;
                color: #ffffff;
                border-radius: 0px;
                font-size: 90%;
            }

            .form-group {
                margin-bottom: 6px;
            }

            .clearSearch {
                margin-left:10px;
                text-decoration: underline;
            }


            @media (max-width: 1200px) {

                .clearSearch {
                    margin-top:7px;
                    margin-left:0px;
                }
            }

