div.ex
{
    z-index: 999;
    padding:10px;
    border:5px #2294c8;
    margin:2px;
}
#tabs{
    /*height:30px;*/
    z-index:999;
    margin-left: 3%;
    margin-right: 3%;
    overflow:hidden;
}

#tabs > ul{
    font: lem;
    list-style:none;
}
#tabContainer {
    -moz-border-radius: 4px;
    border-radius: 4px; 
}

#tabs > ul > li{
    margin:0 42px 2px -40px;
    padding:8px 10px 2px 10px;
    display:block;
    float:left;
    color:#333;
    font-family:Oxygen-Bold, Verdana, Geneva, sans-serif;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius:4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; 
    background: #257AB6; /* darker shades */
}

#tabs > ui > li a{
    background: #0f6aa3;
    color: white;
}

#tabs > ul > li:hover{
    background: #0f6aa3; /* darker shades */
    cursor:pointer;
    color: white;
}

#tabs > ul > li.tabActiveHeader{
    background: #2294c8; /* lighter shades */
    cursor:pointer;
    color: white;
}

#tabscontent {
    background-color: #2294c8; /* lighter shades */
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px; 
    padding:8px;
    margin: 26px 0 0;
    color:#333;
}

.tabpage{
    background-color: white;
    padding: 1%;
    border-top-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px; 
    text-align: left;
    word-wrap: break-word;
}

.content div h2{
    color: #473523;
}
.content div p {

    font-size: 14px;
    line-height: 22px;
    font-style: italic;
    text-align: left;
    margin: 0;
    color: #473523;
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    border-left: 8px solid rgba(63,148,148, 0.1);
}
.title{
    font-size:16px;
    font-weight:bold;
    color:#432f1d;
}

